<table>
  <tbody>
  <tr>
    <td colspan="4">
      <button (click)="api.createWidget()">New Widget</button>
      <button (click)="api.previousWidget()"><</button>
      {{api.widgetPage + 1 + "/" + api.widgetPageTotal}}
      <button (click)="api.nextWidget()">></button>
    </td>
  </tr>
  <tr>
  </tr>
  <tr *ngFor="let widget of api.widgets, let i = index">
    <td><app-img-upload [img]="widget.url" (dataEvent)="widget.url = $event; api.updateWidget(i)"></app-img-upload></td>
    <td><input type="text" [(ngModel)]="widget.name" (change)="api.updateWidget(i)"></td>
    <td>
      <select [(ngModel)]="widget.size" (change)="api.updateWidget(i)">
        <option value="size1">size1</option>
        <option value="size2">size2</option>
        <option value="size3">size3</option>
        <option value="size4">size4</option>
      </select>
    </td>
<!--    <td>-->
<!--      <span>{{(widget.) ? widget.wallPaper.name : "none"}}</span>-->
<!--      <select class="border-0" style="width: 20px" [(ngModel)]="widget.wallPaper" (change)="api.updateWidget(i)">-->
<!--        <option *ngFor="let wallPaper of api.wallPapers" [ngValue]="wallPaper">{{wallPaper?.name}}</option>-->
<!--      </select>-->
<!--      <button (click)="api.previousWallPaper()"><</button>-->
<!--      <select [(ngModel)]="api.optionSelect" (change)="api.getWallPaper()">-->
<!--        <option *ngFor="let option of api.option" [value]="option">{{option}}</option>-->
<!--      </select>-->
<!--      <button (click)="api.nextWallPaper()">></button>-->
<!--      {{api.wallPaperPage + 1 + "/" + api.wallPaperPageTotal}}-->
<!--    </td>-->
    <td><button (click)="api.deleteWidget(i)">Delete</button></td>
  </tr>
  </tbody>
</table>
