<table>
  <tbody>
  <tr>
    <td colspan="4">
      <button (click)="api.createWidget()">New Widget</button>
      <button (click)="api.previousWidget()"><</button>
      {{api.widgetPage + 1 + "/" + api.widgetPageTotal}}
      <button (click)="api.nextWidget()">></button>
    </td>
  </tr>
  <tr>
    <td>Thumb</td>
    <td>Name</td>
    <td>Size</td>
    <td>Widget Type</td>
    <td></td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let widget of api.widgets, let i = index">
    <td><app-upload-cloud-flare [img]="widget.url" (dataEvent)="widget.url = $event; api.updateWidget(i)"></app-upload-cloud-flare></td>
    <td><input type="text" [(ngModel)]="widget.name" (change)="api.updateWidget(i)"></td>
    <td>
      <select [(ngModel)]="widget.size" (change)="api.updateWidget(i)">
        <option value="size1">size1</option>
        <option value="size2">size2</option>
        <option value="size3">size3</option>
        <option value="size4">size4</option>
      </select>
    </td>
    <td>
      <span>{{(widget.type) ? widget.type.name : "none"}}</span>
    </td>
    <td>
      <select class="border-0" style="width: 20px" [(ngModel)]="widget.type" (change)="api.updateWidget(i)">
        <option *ngFor="let widgetType of api.widgetTypes" [ngValue]="widgetType">{{widgetType?.name}}</option>
      </select>
      <button (click)="api.previousWidgetType()"><</button>
      {{api.widgetTypePage + 1 + "/" + api.widgetTypePageTotal}}
      <button (click)="api.nextWidgetType()">></button>
    </td>
    <td><button (click)="api.deleteWidget(i)">Delete</button></td>
  </tr>
  </tbody>
</table>
