<div class="container">
  <div class="w-100 row row-cols-auto">
    <div class="col-8">
      <button class="btn btn-primary w-100" (click)="create()">Add new
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
        </svg>
      </button>
    </div>
    <div class="col-4">
      <div class="input-group">
        <input class="form-control" #createNewCallIconType type="text" placeholder="Input new type">
        <button class="btn-primary btn" (click)="createType(createNewCallIconType.value)">
          New Type
        </button>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <tbody>
    <tr *ngFor="let icon of themeService.callIcons, let i = index">
      <td>
        <app-img-upload [src]="icon.accept" (dataEvent)="icon.accept = $event; save(i)"></app-img-upload>
      </td>
      <td>
        <app-img-upload [src]="icon.deny" (dataEvent)="icon.deny = $event; save(i)"></app-img-upload>
      </td>
      <td>
        <app-img-upload [type]="'input'" [imgWith]="'100%'" [imgHeight]="'40px'" [src]="icon.acceptJson" (dataEvent)="icon.acceptJson = $event; save(i)"></app-img-upload>
        <app-img-upload [type]="'input'" [imgWith]="'100%'" [imgHeight]="'40px'" [src]="icon.denyJson" (dataEvent)="icon.denyJson = $event; save(i)"></app-img-upload>
        <div class="input-group">
          <span class="input-group-text">Type</span>
          <select class="form-select" [(ngModel)]="icon.type" (change)="save(i)">
            <option *ngFor="let type of themeService.types" [value]="type.name">{{type.name}}</option>
          </select>
        </div>
      </td>
      <td>
        <button class="btn btn-primary" (click)="select(i)">Select</button>
        <button class="btn btn-danger" (click)="delete(i)">Delete</button>
      </td>
    </tr>
    </tbody>

  </table>

</div>
