<div class="my-3 bg-light w-100">
  <div class="btn-group m-3" role="group" aria-label="Basic outlined example">
    <a type="button" routerLink="/emoji" class="btn btn-outline-primary">Emoji</a>
    <a type="button" routerLink="/data-emoji" class="btn btn-outline-primary">Data Emoji</a>
    <a type="button" routerLink="/data-emoji-2" class="btn btn-outline-primary">Data Emoji 2</a>
    <a type="button" routerLink="/emoji-frame" class="btn btn-outline-primary">Emoji frame</a>
    <a type="button" routerLink="/emoji-talk" class="btn btn-outline-primary">Emoji talk</a>
    <a type="button" routerLink="/sound2" class="btn btn-outline-primary">Sound2</a>
    <a type="button" routerLink="/icon" class="btn btn-outline-primary">Icon</a>
  </div>
  <div class="btn-group m-3" role="group" aria-label="Basic outlined example">
    <a type="button" routerLink="/ios/data-emoji" class="btn btn-outline-primary">Ios Data Emoji</a>
    <a type="button" routerLink="/ios/emoji-talk" class="btn btn-outline-primary">Ios Emoji Talk</a>
    <a type="button" routerLink="/ios/icon" class="btn btn-outline-primary">Ios Icon</a>
  </div>
  <div class="btn-group m-3" role="group" aria-label="Basic outlined example">
    <a type="button" routerLink="/login" class="btn btn-outline-primary">Logout</a>
  </div>
</div>

