<table>
  <tr>
    <td colspan="4">
      <button (click)="api.createCategory()">Create Category</button>
      <select [(ngModel)]="api.categoryType" (change)="api.getCategory()">
        <option value=''>All</option>
        <option value='wall'>Wall Paper</option>
        <option value='animation'>Animation</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Url</td>
    <td>Name</td>
    <td>Version Required</td>
    <td>Category</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let category of api.categories let i = index">
    <td><app-upload-cloud-flare [img]="category.url" (dataEvent)="category.url = $event; api.updateCategory(i)"></app-upload-cloud-flare></td>
    <td><input type="text" [(ngModel)]="category.name" placeholder="Category" (change)="api.updateCategory(i)"></td>
    <td><input type="text" [(ngModel)]="category.versionRequired" placeholder="Version required" (change)="api.updateCategory(i)"></td>
    <td>
      <select [(ngModel)]="category.type" (change)="api.updateCategory(i)">
        <option value="wall">Wall Paper</option>
        <option value="animation">Animation</option>
      </select>
    </td>
    <td>
      <button (click)="api.deleteCategory(i)">Delete</button>
    </td>
  </tr>
</table>
