<table>
  <tbody>
  <tr>
    <td colspan="2">
      <select [(ngModel)]="api.categoryOptionSelect" (change)="api.getCategory()">
        <option *ngFor="let category of api.categoryOption" [value]="category">{{category}}</option>
      </select>
      <button (click)="api.createCategory()">New Category</button>
    </td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let style of api.categories, let i = index">
    <td><input type="text" [(ngModel)]="style.name" (change)="api.updateCategory(i)"></td>
    <td><button (click)="api.deleteCategory(i)">Delete</button></td>
  </tr>
  </tbody>
</table>
