<table>
  <tr>
    <td colspan="5">
      <button (click)="api.createTheme()">Create Theme</button>
      <button (click)="api.previousTheme()"><</button>
      <span>{{api.themePage + 1 + "/" + api.themePageTotal}}</span>
      <button (click)="api.nextTheme()">></button>
    </td>
  </tr>
  <tr>
    <td>Url</td>
    <td>Thumb</td>
    <td>Type</td>
    <td>Category</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let theme of api.themes let i = index">
    <td>
      <app-img-upload [img]="theme.url" (dataEvent)="theme.url = $event; api.updateTheme(i)"></app-img-upload>
    </td>
    <td>
      <app-img-upload [img]="theme.thumb" (dataEvent)="theme.thumb = $event; api.updateTheme(i)"></app-img-upload>
    </td>
    <td>
      <select [(ngModel)]="theme.type" (change)="api.updateTheme(i)">
        <option value="mp4">Mp4</option>
        <option value="gif">Gif</option>
        <option value="gif">Img</option>
      </select>
    </td>
    <td>
      <span>{{(theme.category)?theme.category.name : "None"}}</span>
      <select style="width: 18px" [(ngModel)]="theme.category" (change)="api.updateTheme(i)">
        <option *ngFor="let category of api.categories" [ngValue]="category">{{category.name}}</option>
      </select>
    </td>
    <td><button (click)="api.deleteTheme(i)">Delete</button></td>
  </tr>

  <tr>
    <td>
    </td>
  </tr>
</table>
