<table class="table table-bordered">
  <tbody>
  <tr>
    <td colspan="4">
      <button (click)="api.createVideo()">Create Video</button>
      <button (click)="previous()"><</button>
      <span>{{api.videoPage + 1 + "/" + api.videoPageTotal}}</span>
      <button (click)="next()">></button>
    </td>
  </tr>
  <tr>
    <td>Url</td>
    <td>Title</td>
    <td>Sort</td>
    <td>Style</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let video of api.videos, let i = index">
    <td>
      <app-upload-cloud-flare [img]="video.url" (dataEvent)="video.url = $event; api.updateVideo(i)"></app-upload-cloud-flare>
    </td>
    <td><input type="text" [(ngModel)]="video.title" (change)="api.updateVideo(i)"></td>
    <td><input type="number" [(ngModel)]="video.sort" (change)="api.updateVideo(i)"></td>
    <td>
      <app-select-video-style [videoStyle]="video.style"
                              (dataEvent)="video.style = $event; api.updateVideo(i)"></app-select-video-style>
    </td>
    <td>
      <button (click)="api.deleteVideo(i)">Delete</button>
    </td>
  </tr>
  </tbody>

</table>
