<table>
  <tbody>
  <tr>
    <td colspan="4">
      <button (click)="api.createWidgetType()">New Widget Type</button>
      <button (click)="api.previousWidgetType()"><</button>
      {{api.widgetTypePage + 1 + "/" + api.widgetTypePageTotal}}
      <button (click)="api.nextWidgetType()">></button>
    </td>
  </tr>
  <tr>
  </tr>
  <tr *ngFor="let widgetType of api.widgetTypes, let i = index">
    <td><input type="text" [(ngModel)]="widgetType.name" (change)="api.updateWidgetType(i)"></td>
    <td>
      <table>
        <tr>
          <td colspan="2" (click)="widgetType.sourceConvert.push(['new', '']); api.updateWidgetType(i)"><button>Add Source</button></td>
        </tr>
        <tr *ngFor="let source of widgetType.sourceConvert">
          <td><input type="text" [(ngModel)]="source[0]" placeholder="key" (change)="api.updateWidgetType(i)"></td>
          <td><app-img-upload [img]="source[1]" (dataEvent)="source[1] = $event; api.updateWidgetType(i)"></app-img-upload></td>
        </tr>
      </table>
    </td>
    <td><button (click)="api.deleteWidgetType(i)">Delete</button></td>
  </tr>
  </tbody>
</table>
