<table>
  <tr>
    <td colspan="5">
      <button (click)="api.createAiProfile()">Create AiProfile</button>
      <button (click)="api.previousAiProfile()"><</button>
      <span>{{api.aiProfilePage + 1 + "/" + api.aiProfilePageTotal}}</span>
      <button (click)="api.nextAiProfile()">></button>
      <select [(ngModel)]="api.aiProfileCategory" (change)="api.getAiProfile()">
        <option [ngValue]="undefined">All</option>
        <option *ngFor="let category of api.categories" [ngValue]="category">{{category.name}}</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Url</td>
    <td>Thumb</td>
    <td>Object</td>
    <td>Name</td>
    <td>Prompt</td>
    <td>Category</td>
    <td>Gender</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let aiProfile of api.aiProfiles let i = index">
    <td>
      <app-upload-cloud-flare [img]="aiProfile.url" (dataEvent)="aiProfile.url = $event; api.updateAiProfile(i)"></app-upload-cloud-flare>
    </td>
    <td>
      <app-upload-cloud-flare [img]="aiProfile.thumb" (dataEvent)="aiProfile.thumb = $event; api.updateAiProfile(i)"></app-upload-cloud-flare>
    </td>
    <td>
      <app-upload-cloud-flare [img]="aiProfile.object" (dataEvent)="aiProfile.object = $event; api.updateAiProfile(i)"></app-upload-cloud-flare>
    </td>
    <td>
      <input type="text" [(ngModel)]="aiProfile.name" (change)="api.updateAiProfile(i)">
    </td>
    <td>
      <input type="text" [(ngModel)]="aiProfile.avatarFilePrompt" (change)="api.updateAiProfile(i)">
    </td>
    <td>
      <span>{{(aiProfile.category)?aiProfile.category.name : "None"}}</span>
      <select style="width: 18px" [(ngModel)]="aiProfile.category" (change)="api.updateAiProfile(i)">
        <option *ngFor="let category of api.categories" [ngValue]="category">{{category.name}}</option>
      </select>
    </td>
    <td>
      <select [(ngModel)]="aiProfile.gender" (change)="api.updateAiProfile(i)">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </td>
    <td><button (click)="api.deleteAiProfile(i)">Delete</button></td>
  </tr>
</table>
