<table>
    <tr>
        <td colspan="5">
            <button (click)="api.createWallPaper()">Create WallPaper</button>
        </td>
    </tr>
    <tr>
        <td>Image</td>
        <td>Thumb</td>
        <td>Name</td>
        <td>Category</td>
        <td>Delete</td>
    </tr>
    <tr *ngFor="let wallPaper of api.wallPapers let i = index">
        <td><app-img-upload [img]="wallPaper.image" (dataEvent)="wallPaper.image = $event; api.updateWallPaper(i)"></app-img-upload></td>
        <td><app-img-upload [img]="wallPaper.thumb" (dataEvent)="wallPaper.thumb = $event; api.updateWallPaper(i)"></app-img-upload></td>
        <td><input type="text" [(ngModel)]="wallPaper.name" placeholder="WallPaper" (change)="api.updateWallPaper(i)"></td>
        <td>
            <span>{{wallPaper.category?.name}}</span>
            <select style="width: 18px" [(ngModel)]="wallPaper.category" (change)="api.updateWallPaper(i)">
                <option [ngValue]="undefined">None</option>
                <option *ngFor="let category of api.categories" [ngValue]="category">{{category.name}}</option>
            </select>
        </td>
        <td><button (click)="api.deleteWallPaper(i)">Delete</button></td>
    </tr>
</table>
