<table>
  <tbody>
  <tr>
    <td colspan="2">
      <button (click)="api.createIcon()">New Icon</button>
    </td>
  </tr>
  <tr>
    <td>Name</td>
    <td>App</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let icon of api.icons, let i = index">
    <td><app-img-upload [img]="icon.url" [imgWith]="'50px'" [imgHeight]="'50px'" (dataEvent)="icon.url = $event; api.updateIcon(i)"></app-img-upload></td>
    <td>
      <span>{{(icon.app) ? icon.app.name : "none"}}</span>
      <select class="border-0" style="width: 20px" [(ngModel)]="icon.app" (change)="api.updateIcon(i)">
        <option *ngFor="let app of api.apps" [ngValue]="app">{{app?.name}}</option>
      </select>
    </td>
    <td><button (click)="api.deleteIcon(i)">Delete</button></td>
  </tr>
  </tbody>
</table>
