<table>
  <tbody>
  <tr>
    <td colspan="2">
      <button (click)="api.createApp()">New App</button>
    </td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let app of api.apps, let i = index">
    <td><app-upload-cloud-flare [img]="app.url" [imgWith]="'50px'" [imgHeight]="'50px'" (dataEvent)="app.url = $event; api.updateApp(i)"></app-upload-cloud-flare></td>
    <td><input type="text" [(ngModel)]="app.name" (change)="api.updateApp(i)"></td>
    <td><button (click)="api.deleteApp(i)">Delete</button></td>
  </tr>
  </tbody>
</table>

