<table>
  <tr>
    <td colspan="2">
      <button (click)="api.createImageSticker()">Create Sticker</button>
      <app-upload-multiple [buttonName]="'Create Sticker Multiple'" (dataEvent)="api.createImageSticker($event)"></app-upload-multiple>
    </td>
  </tr>
  <tr>
    <td>Image</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let image of api.images let i = index">
    <td><app-img-upload [img]="image.url" (dataEvent)="image.url = $event; api.updateImageSticker(i)"></app-img-upload></td>
    <td><button (click)="api.deleteImageSticker(i)">Delete</button></td>
  </tr>
</table>
