<table class="table table-striped">
  <tbody>
  <tr>
    <td colspan="4">
      <button class="btn-outline-primary btn" (click)="api.createSticker()">Create new</button>
    </td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Premium</td>
    <td>Image</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let sticker of api.stickers, let i = index">
    <td><input class="form-control" type="text" [(ngModel)]="sticker.name" (change)="api.updateSticker(i)"></td>
    <td><input class="form-check" type="checkbox" [(ngModel)]="sticker.premium" (change)="api.updateSticker(i)"></td>
    <td>
      <div class="row row-cols-auto">
        <div class="col" *ngFor="let image of sticker.images, let j = index">
          <div class="input-group">
            <img class="img-thumbnail" style="height: 38px; width: 38px" alt="" [src]="image">
            <button class="btn btn-outline-danger" (click)="sticker.images.splice(j,1); api.updateSticker(i)">X</button>
          </div>
        </div>
      </div>
      <app-upload-multiple (uploadDone)="sticker.images = sticker.images.concat($event); api.updateSticker(i)"></app-upload-multiple>
    </td>
    <td>
      <button class="btn btn-outline-danger" (click)="api.deleteSticker(i)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
