<div>
  <button (click)="save(-1)" class="m-2 btn btn-warning">Add new</button>
</div>

<table class="table-striped table">
  <thead>
  <tr>
    <th>Top</th>
    <th>Show</th>
    <th>Name</th>
    <th>URL</th>
    <th>Value</th>
    <th>Premium</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let type of data; let i = index">
    <td><input type="number" style="width: 50px" [(ngModel)]="type.top" (change)="save(i)"></td>
    <td><input type="checkbox" [(ngModel)]="type.show" (change)="save(i)"></td>
    <td><input type="text" [(ngModel)]="type.name" (change)="save(i)"></td>
    <td><input type="text" [(ngModel)]="type.url" (change)="save(i)"></td>
    <td><input type="number" [(ngModel)]="type.value" (change)="save(i)"></td>
    <td>
      <select [(ngModel)]="type.premium">
        <option value=true>True</option>
        <option value=false>False</option>
      </select>
    </td>
    <td><button (click)="save(i)" class="m-2 btn btn-warning">Save</button></td>
    <td><button (click)="delete(i)" class="m-2 btn btn-danger">Delete</button></td>
  </tr>
  </tbody>
</table>
