<table class="table table-bordered">
  <tbody>
  <tr>
    <td colspan="4">
      <button (click)="api.createIntro()">Create Intro</button>
      <button (click)="previous()"><</button>
      <span>{{api.introPage + 1 + "/" + api.introPageTotal}}</span>
      <button (click)="next()">></button>
    </td>
  </tr>
  <tr>
    <td>Url</td>
    <td>Title</td>
    <td>Description</td>
    <td>Sort</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let intro of api.intros, let i = index">
    <td>
      <app-upload-cloud-flare [img]="intro.url" (dataEvent)="intro.url = $event; api.updateIntro(i)"></app-upload-cloud-flare>
    </td>
    <td><input type="text" [(ngModel)]="intro.title" (change)="api.updateIntro(i)"></td>
    <td><input type="text" [(ngModel)]="intro.description" (change)="api.updateIntro(i)"></td>
    <td><input type="number" [(ngModel)]="intro.sort" (change)="api.updateIntro(i)"></td>
    <td>
      <button (click)="api.deleteIntro(i)">Delete</button>
    </td>
  </tr>
  </tbody>

</table>
