<div class="container py-2">
  <table class="table table-bordered shadow-sm table-hover">
    <thead>
    <tr>
      <td colspan="9">
        <div class="row m-2">

          <button class="btn btn btn-primary col-2" (click)="api.createItem()">Create New</button>

          <div class="btn-group col-2">
            <button class="btn btn-primary" (click)="api.previous(); api.getItem()"><</button>
            <span class="input-group-text">{{api.offset/api.limit + 1}}</span>
            <button class="btn btn-primary" (click)="api.next(); api.getItem()">></button>
          </div>

          <div class="col-3">
            <div class="input-group">
              <span class="input-group-text">Type</span>
              <select class="form-select" [(ngModel)]="api.typeFilter" (change)="api.getItem()">
                <option value="all">All</option>
                <option value="KNIFE">Knife</option>
                <option value="CHOPPING_BOARD">Chopping board</option>
                <option value="FILTER">Filter</option>
              </select>
            </div>
          </div>

          <div class="col-5 text-end">
            <h5>Shop Item</h5>
          </div>

        </div>

      </td>
    </tr>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Detail</th>
      <th>Top</th>
      <th>Version Required</th>
      <th>Type</th>
      <th>Show</th>
      <th>Lock</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of api.items, let i = index">
      <td><app-upload-cloud-flare [img]="item.image" (dataEvent)="item.image = $event; api.updateItem(i)"></app-upload-cloud-flare></td>
      <td><input type="text" class="form-control" [(ngModel)]="item.name" (change)="api.updateItem(i)"></td>
      <td><input type="text" class="form-control" [(ngModel)]="item.detail" (change)="api.updateItem(i)"></td>
      <td><input type="text" class="form-control" [(ngModel)]="item.top" (change)="api.updateItem(i)"></td>
      <td><input type="text" class="form-control" [(ngModel)]="item.versionRequired" (change)="api.updateItem(i)"></td>
      <td>
        <select class="form-select" [(ngModel)]="item.type" (change)="api.updateItem(i)">
          <option value="KNIFE">Knife</option>
          <option value="CHOPPING_BOARD">Chopping board</option>
          <option value="FILTER">Filter</option>
        </select>
      </td>
      <td><input type="checkbox" class="form-check-input" [(ngModel)]="item.show" (change)="api.updateItem(i)"></td>
      <td><input type="checkbox" class="form-check-input" [(ngModel)]="item.lock" (change)="api.updateItem(i)"></td>
      <td><button class="btn btn-danger" (click)="api.deleteItem(i)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

