<table>
  <tr>
    <td colspan="5">
      <button (click)="api.createTrendingType()">Create TrendingType</button>
      <app-upload-multiple [buttonName]="'Create Trending Multiple'" (dataEvent)="api.createTrendingType($event)"></app-upload-multiple>

    </td>
  </tr>
  <tr>
    <td>Url</td>
    <td>Name</td>
    <td>Top</td>
    <td>Value</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let trendingType of api.trendingTypes let i = index">
    <td><app-img-upload [img]="trendingType.url" (dataEvent)="trendingType.url = $event; api.updateTrendingType(i)"></app-img-upload></td>
    <td><input type="text" [(ngModel)]="trendingType.name" (change)="api.updateTrendingType(i)"></td>
    <td><input type="number" [(ngModel)]="trendingType.top" (change)="api.updateTrendingType(i)"></td>
    <td><input type="number" [(ngModel)]="trendingType.value" (change)="api.updateTrendingType(i)"></td>
    <td><button (click)="api.deleteTrendingType(i)">Delete</button></td>
  </tr>
</table>
