<div class="container my-2">
  <table class="table table-hover table-bordered">
    <tbody>
    <tr>
      <td colspan="5">
        <button class="btn btn-primary" (click)="api.createTrendingType()">Create TrendingType</button>
        <app-upload-multiple [buttonName]="'Create Trending Multiple'" (dataEvent)="api.createTrendingType($event)"></app-upload-multiple>
      </td>
    </tr>
    <tr>
      <td>Url</td>
      <td>Name</td>
      <td>Top</td>
      <td>Value</td>
      <td>Icons</td>
      <td>Required Version</td>
      <td>Delete</td>
    </tr>
    <tr *ngFor="let trendingType of api.trendingTypes let i = index">
      <td><app-upload-cloud-flare [img]="trendingType.url" (dataEvent)="trendingType.url = $event; api.updateTrendingType(i)"></app-upload-cloud-flare></td>
      <td><input class="form-control" type="text" [(ngModel)]="trendingType.name" (change)="api.updateTrendingType(i)"></td>
      <td><input class="form-control" type="number" [(ngModel)]="trendingType.top" (change)="api.updateTrendingType(i)"></td>
      <td><input class="form-control" type="number" [(ngModel)]="trendingType.value" (change)="api.updateTrendingType(i)"></td>
      <td>
        <div *ngFor="let icon of trendingType.icons, let j = index" class="btn-group">
          <img width="50px" height="50px" [src]="icon" alt="" class="img-thumbnail">
          <button class="btn btn-outline-danger" (click)="trendingType.icons.splice(j,1); api.updateTrendingType(i)">X</button>
        </div>
        <app-upload-cloud-flare [img]="'https://th.bing.com/th/id/OIP.trHoVYY45yfEDuRs3HklwwHaId?rs=1&pid=ImgDetMain'" [imgWith]="'50px'" [imgHeight]="'50px'"
                                (dataEvent)="addIcon(i, $event);api.updateTrendingType(i) "
        ></app-upload-cloud-flare>
      </td>
      <td><input class="form-control" type="number" [(ngModel)]="trendingType.requiredVersion" (change)="api.updateTrendingType(i)"></td>
      <td><button class="btn btn-primary" (click)="api.deleteTrendingType(i)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
