<table class="table table-striped" *ngIf="painting.banner">
  <thead>
  <tr>
    <th>Name</th>
    <th>Cover</th>
    <th>Before</th>
    <th>After</th>
    <th>Gif</th>
    <th>Description</th>
    <th>Style</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let banner of painting.banner">
    <td><input type="text" [(ngModel)]="banner.name"></td>
    <td><app-img-upload [imgWith]="'70px'" [imgHeight]="'100px'" (dataEvent)="banner.coverImgUrl = $event" [img]="banner.coverImgUrl"></app-img-upload></td>
    <td><app-img-upload [imgWith]="'70px'" [imgHeight]="'100px'" (dataEvent)="banner.beforeImgUrl = $event" [img]="banner.beforeImgUrl"></app-img-upload></td>
    <td><app-img-upload [imgWith]="'70px'" [imgHeight]="'100px'" (dataEvent)="banner.afterImgUrl = $event" [img]="banner.afterImgUrl"></app-img-upload></td>
    <td><app-img-upload [imgWith]="'100px'" [imgHeight]="'100px'" (dataEvent)="banner.gifUrl = $event" [img]="banner.gifUrl"></app-img-upload></td>
    <td><textarea class="w-100" [(ngModel)]="banner.description"></textarea></td>
    <td></td>
  </tr>
  </tbody>

</table>
