<div>
  <button class="btn btn-outline-primary" (click)="api.createAlphabet()">Create Alphabet</button>
</div>
<div class="row row-cols-auto" style="position: relative">
  <div class="col m-4 shadow-lg rounded-3" style="width: 270px; height: 310px; padding: 10px" *ngFor="let alphabet of api.alphabets, let i = index">
    <div class="btn-group">
      <input type="text" style="width: 170px" class="form-control" [(ngModel)]="alphabet.name" (change)="api.updateAlphabet(i)" placeholder="Name">
      <button style="width: 80px" class="btn btn-outline-danger" (click)="api.deleteAlphabet(i)">Delete</button>
    </div>

    <div style="position: relative">
      <div class="Rectangle1" style="width: 150px; height: 150px; left: 50px; top: 50px; position: absolute; ">
        <app-upload-cloud-flare [imgWith]="'150px'" [imgHeight]="'150px'" [img]="alphabet.image"
                                (dataEvent)="alphabet.image = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R1" style="width: 50px; height: 50px; left: 0px; top: 0px; position: absolute; background: #F6D3D3">
        <app-upload-cloud-flare [img]="alphabet.colors[0].url"
                                (dataEvent)="alphabet.colors[0].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R2" style="width: 50px; height: 50px; left: 50px; top: 0px; position: absolute; background: #A67979">
        <app-upload-cloud-flare [img]="alphabet.colors[1].url"
                                (dataEvent)="alphabet.colors[1].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R3" style="width: 50px; height: 50px; left: 100px; top: 0px; position: absolute; background: #A1C1E7">
        <app-upload-cloud-flare [img]="alphabet.colors[2].url"
                                (dataEvent)="alphabet.colors[2].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R4" style="width: 50px; height: 50px; left: 150px; top: 0px; position: absolute; background: #F82222">
        <app-upload-cloud-flare [img]="alphabet.colors[3].url"
                                (dataEvent)="alphabet.colors[3].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R5" style="width: 50px; height: 50px; left: 200px; top: 0px; position: absolute; background: #827D7D">
        <app-upload-cloud-flare [img]="alphabet.colors[4].url"
                                (dataEvent)="alphabet.colors[4].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R6"
           style="width: 50px; height: 50px; left: 200px; top: 50px; position: absolute; background: #46868A">
        <app-upload-cloud-flare [img]="alphabet.colors[5].url"
                                (dataEvent)="alphabet.colors[5].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R7"
           style="width: 50px; height: 50px; left: 200px; top: 100px; position: absolute; background: #4FA24E">
        <app-upload-cloud-flare [img]="alphabet.colors[6].url"
                                (dataEvent)="alphabet.colors[6].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R8"
           style="width: 50px; height: 50px; left: 200px; top: 150px; position: absolute; background: #AE61A6">
        <app-upload-cloud-flare [img]="alphabet.colors[7].url"
                                (dataEvent)="alphabet.colors[7].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R9"
           style="width: 50px; height: 50px; left: 200px; top: 200px; position: absolute; background: #6A7262">
        <app-upload-cloud-flare [img]="alphabet.colors[8].url"
                                (dataEvent)="alphabet.colors[8].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R10"
           style="width: 50px; height: 50px; left: 150px; top: 200px; position: absolute; background: #C53838">
        <app-upload-cloud-flare [img]="alphabet.colors[9].url"
                                (dataEvent)="alphabet.colors[9].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R11"
           style="width: 50px; height: 50px; left: 100px; top: 200px; position: absolute; background: #9A3666">
        <app-upload-cloud-flare [img]="alphabet.colors[10].url"
                                (dataEvent)="alphabet.colors[10].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R12"
           style="width: 50px; height: 50px; left: 50px; top: 200px; position: absolute; background: #8BA97E">
        <app-upload-cloud-flare [img]="alphabet.colors[11].url"
                                (dataEvent)="alphabet.colors[11].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R13"
           style="width: 50px; height: 50px; left: 0px; top: 200px; position: absolute; background: #F4B8B8">
        <app-upload-cloud-flare [img]="alphabet.colors[12].url"
                                (dataEvent)="alphabet.colors[12].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R14"
           style="width: 50px; height: 50px; left: 0px; top: 150px; position: absolute; background: #AE61A6">
        <app-upload-cloud-flare [img]="alphabet.colors[13].url"
                                (dataEvent)="alphabet.colors[13].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R15"
           style="width: 50px; height: 50px; left: 0px; top: 100px; position: absolute; background: #A1C1E7">
        <app-upload-cloud-flare [img]="alphabet.colors[14].url"
                                (dataEvent)="alphabet.colors[14].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="R16" style="width: 50px; height: 50px; left: 0px; top: 50px; position: absolute; background: #F82222">
        <app-upload-cloud-flare [img]="alphabet.colors[15].url"
                                (dataEvent)="alphabet.colors[15].url = $event; api.updateAlphabet(i)"></app-upload-cloud-flare>
      </div>
      <div class="11"
           style="left: 65px; top: 18px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (1,0)
      </div>
      <div class="11"
           style="left: 114px; top: 18px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (2,0)
      </div>
      <div class="11"
           style="left: 163px; top: 18px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (3,0)
      </div>
      <div class="11"
           style="left: 214px; top: 18px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (4,0)
      </div>
      <div class="11"
           style="left: 214px; top: 68px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (4,1)
      </div>
      <div class="11"
           style="left: 14px; top: 68px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (0,1)
      </div>
      <div class="11"
           style="left: 13px; top: 118px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (0,2)
      </div>
      <div class="11"
           style="left: 13px; top: 168px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (0,3)
      </div>
      <div class="11"
           style="left: 14px; top: 217px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (0,4)
      </div>
      <div class="11"
           style="left: 64px; top: 218px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (1,4)
      </div>
      <div class="11"
           style="left: 114px; top: 218px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (2,4)
      </div>
      <div class="11"
           style="left: 164px; top: 218px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (3,4)
      </div>
      <div class="11"
           style="left: 214px; top: 218px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (4,4)
      </div>
      <div class="11"
           style="left: 214px; top: 168px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (4,3)
      </div>
      <div class="11"
           style="left: 215px; top: 118px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (4,2)
      </div>
      <div class="01"
           style="left: 13px; top: 18px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (0,0)
      </div>
    </div>

  </div>
</div>
