<div class="container-sm">
  <div class="row">
    <div class="col-4">
      <div class="input-group">
        <span class="input-group-text">Question</span>
        <input type="text" class="form-control" #inputQuestion>
      </div>
      <div class="input-group">
        <span class="input-group-text">Document</span>
        <textarea class="form-control" #inputDocument></textarea>
      </div>
      <div>
        <button class="btn btn-primary" (click)="getList(inputQuestion.value, inputDocument.value)">Load</button>
      </div>
    </div>
    <div class="col-8">
      <div class="input-group">
        <input type="text" class="form-control" #inputSearch>
        <button class="btn btn-outline-secondary" (click)="search(inputSearch.value)">Search</button>
      </div>
      <table>
        <tr *ngFor="let d of data">
          <td>
            <div *ngIf="d.search">{{'Top' + d.top}}</div>
          </td>
          <td>
            <div *ngIf="d.search">{{'Value' + d.value}}</div>
          </td>
          <td>
            <div *ngIf="d.search">{{d.text}}</div>
          </td>
          <td>
            <div [ngClass]="(d.search)?'bg-primary':'bg-success'" style="height: 1px" [style.width]="d.value * 300 + 'px'" data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-custom-class="custom-tooltip" [title]="d.text"></div>
          </td>
        </tr>

      </table>

    </div>
  </div>
</div>
