<div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <td colspan="9">
        <button class="btn btn-outline-primary" (click)="api.createTemplate()">Create new</button>
      </td>
    </tr>
    <tr>
      <td>Thumb</td>
      <td>Video</td>
      <td>Name</td>
      <td>Top</td>
      <td>Version Required</td>
      <td>Show</td>
      <td>Alphabet</td>
      <td>Sound</td>
      <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let template of api.templates, let i = index">
      <td><app-upload-cloud-flare [imgHeight]="'150px'" [imgWith]="'100px'" [img]="template.thumb" (dataEvent)="template.thumb = $event ; api.updateTemplate(i)"></app-upload-cloud-flare></td>
      <td><app-upload-cloud-flare [imgHeight]="'150px'" [imgWith]="'100px'" [type]="'video'" [img]="template.video" (dataEvent)="template.video = $event ; api.updateTemplate(i)"></app-upload-cloud-flare></td>
      <td><input class="form-control" type="text" [(ngModel)]="template.name" (change)="api.updateTemplate(i)"></td>
      <td class="col-1"><input class="form-control" type="number" [(ngModel)]="template.top" (change)="api.updateTemplate(i)"></td>
      <td class="col-1"><input class="form-control" type="number" [(ngModel)]="template.versionRequired" (change)="api.updateTemplate(i)"></td>
      <td><input class="form-check-input" type="checkbox" [(ngModel)]="template.show" (change)="api.updateTemplate(i)"></td>
      <td>
        <select class="form-select" [(ngModel)]="template.alphabet" (change)="api.updateTemplate(i)">
          <option [hidden]="true" [ngValue]="template.alphabet">{{(template.alphabet)?template.alphabet.name : "Select Template"}}</option>
          <option *ngFor="let alphabet of api.alphabets" [ngValue]="alphabet">{{alphabet.name}}</option>
        </select>
      </td>
      <td>
        <select class="form-select" [(ngModel)]="template.sound" (change)="api.updateTemplate(i)">
          <option [hidden]="true" [ngValue]="template.sound">{{(template.sound)?template.sound.name : "Select Sound"}}</option>
          <option *ngFor="let sound of api.sounds" [ngValue]="sound">{{sound.name}}</option>
        </select>
      </td>
      <td><button class="btn btn-outline-danger" (click)="api.deleteTemplate(i)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
