<table class="table table-bordered">
  <thead>
  <tr>
    <td colspan="7">
      <button class="btn btn-primary" (click)="api.createTemplate()">Create</button>
    </td>
  </tr>
  <tr>
    <td>Image</td>
    <td>Video</td>
    <td>Name</td>
    <td>Detail</td>
    <td>Version Required</td>
    <td>Top</td>
    <td>Category</td>
    <td>Delete</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let template of api.templates, let i = index">
    <td>
      <app-upload-cloud-flare imgWith="70px" imgHeight="100px" [img]="template.imageUrl"
                              (dataEvent)="template.imageUrl=$event; api.updateTemplate(i)"></app-upload-cloud-flare>
    </td>
    <td>
      <app-upload-cloud-flare imgWith="70px" imgHeight="100px" type="video" [img]="template.videoUrl"
                              (dataEvent)="template.videoUrl=$event; api.updateTemplate(i)"></app-upload-cloud-flare>
    </td>
    <td><input class="form-control" type="text" [(ngModel)]="template.name" placeholder="Name"
               (change)="api.updateTemplate(i)"></td>
    <td><input class="form-control" type="text" [(ngModel)]="template.detail" placeholder="Detail"
               (change)="api.updateTemplate(i)"></td>
    <td><input class="form-control" type="number" [(ngModel)]="template.versionRequired" placeholder="Version Required"
               (change)="api.updateTemplate(i)"></td>
    <td><input class="form-control" type="number" [(ngModel)]="template.top" placeholder="Top"
               (change)="api.updateTemplate(i)"></td>
    <td><select [(ngModel)]="template.category" name="" id="" class="form-select" (change)="api.updateTemplate(i)">
      <option hidden
              [ngValue]="template.category">{{(template.category) ? template.category.name : "Category"}}</option>
      <option *ngFor="let category of api.categorys" [ngValue]="category">{{category.name}}</option>
    </select></td>
    <td>
      <button class="btn btn-outline-danger" (click)="api.deleteTemplate(i)">Delete</button>
    </td>
  </tr>
  </tbody>


</table>
