// start control page
.control-page button{
    border : none;
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.158);
    text-align: center;
    margin: 20px;
  }
  .control-page {
    padding-right: 50px;
    padding-left: 50px;
  }

// end control page