
<div class="container my-2">
  <table class="table table-hover table-bordered shadow-sm">
    <tbody>
    <tr>
      <td colspan="11">
        <button class="btn btn-primary" (click)="api.createTrending()">Create Trending</button>
        <app-upload-multiple [buttonName]="'Create Trending Multiple'" (dataEvent)="api.createTrendingByUrl($event)"></app-upload-multiple>
        <input class="form-control" [(ngModel)]="api.group" (change)="api.getTrending()" placeholder="Search Group">
      </td>
    </tr>
    <tr>
      <td>Video</td>
      <td>Thumb</td>
      <td>Name</td>
      <td>Description</td>
      <td>Top</td>
      <td>Like</td>
      <td>Show</td>
      <td>Trending Type</td>
      <td>Music</td>
      <td>Group</td>
      <td>Delete</td>
    </tr>
    <tr *ngFor="let trending of api.trendings let i = index">
      <td><app-upload-cloud-flare [imgWith]="'100px'" [imgHeight]="'150px'" [type]="'video'" [img]="trending.url" (dataEvent)="trending.url = $event; api.updateTrending(i)"></app-upload-cloud-flare></td>
      <td><app-upload-cloud-flare [img]="trending.thumb" (dataEvent)="trending.thumb = $event; api.updateTrending(i)"></app-upload-cloud-flare></td>
      <td><input class="form-control" style="width: 100px" type="text" [(ngModel)]="trending.name" (change)="api.updateTrending(i)"></td>
      <td><input class="form-control" style="width: 100px" type="text" [(ngModel)]="trending.description" (change)="api.updateTrending(i)"></td>
      <td><input class="form-control" style="width: 100px" type="number" [(ngModel)]="trending.top" (change)="api.updateTrending(i)"></td>
      <td><input class="form-control" style="width: 100px" type="number" [(ngModel)]="trending.like" (change)="api.updateTrending(i)"></td>
      <td><input class="form-check-input" type="checkbox" [(ngModel)]="trending.show" (change)="api.updateTrending(i)"></td>
      <td>
        <select class="form-select" style="width: 18px" [(ngModel)]="trending.trendingType" (change)="api.updateTrending(i)">
          <option [hidden]="true" [ngValue]="trending.trendingType">{{(trending.trendingType)?trending.trendingType.name:"NONE"}}</option>
          <option [ngValue]="undefined">None</option>
          <option *ngFor="let trendingType of api.trendingTypes" [ngValue]="trendingType">{{trendingType.name}}</option>
        </select>
      </td>
      <td>
        <select class="form-select" style="width: 18px" [(ngModel)]="trending.music" (change)="api.updateTrending(i)">
          <option [hidden]="true" [ngValue]="trending.music">{{(trending.music)?trending.music.name:"NONE"}}</option>
          <option [ngValue]="undefined">None</option>
          <option *ngFor="let music of api.musics" [ngValue]="music">{{music.name}}</option>
        </select>
      </td>
      <td>
        <input class="form-control" [(ngModel)]="trending.group" (change)="api.updateTrending(i)">
      </td>
      <td><button class="btn" (click)="api.deleteTrending(i)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

