#container{
    background-color: rgba(0, 0, 0, 0.05);
}
#body{
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 3px;
    background-color: white;
    padding: 10px;
}
.content{
    width: 750px;
    // background-color: aqua;
}
.info{
    margin-top: 20px;
}
.d-left{
    width: 100px;
    text-align: left;
    padding-left: 10px;
}
.d-right{
    padding-right: 20px;
    width: 300px;
    text-align: right;
    font-size: 12px;
}
.rate{
    font-weight: 700;
}
#price{
    margin-top: 20px;
    padding-left : 30px;
    padding-right : 30px;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.043);
    border-radius: 5px;
}
#old-price{
    text-decoration-line: line-through;
    width: 150px;
}
.new-price{
    font-size: 25px;
    width: 150px;
    width: 600px;
    text-align: left;
}
.new-price span{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
.voucher{
    border: none;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-right: 10px;
}
.title-info{
    width: 170px;
}
td{
    height: 60px;
    text-align: left;
}
.btn-quantity{
    border: 1px solid black;
}
.btn-quantity:hover {
    background-color: rgba(89, 89, 204, 0.493);
    color: white;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn-cart{
    background-color: rgba(255, 166, 0, 0.265);
    padding: 10px;
    color: rgb(255, 77, 0);
}
.btn-cart:hover{
    background-color: rgb(255, 77, 0);
    color: white;
}
.btn-buy{
    background-color: rgb(255, 77, 0);
    color: white;
    padding: 10px;
}
.btn-buy:hover{
    background-color: rgba(255, 77, 0, 0.742);;
}
.description ,.specifications{
    background-color: white;
    margin: 20px;
    padding: 30px;
}
hr{
    width: 100%;
}
.select{
    box-shadow: 0px 0px 15px rgb(255, 77, 0);
    font-size: 15px;
}
.available{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.466);
    margin-left: 50px
}

