<div id="container">
    <div id="header">
        <app-header></app-header>
    </div>
    <div id="body" class="d-flex justify-content-between">
        <div class="img">
            <div class="img-body">
                <img src="{{ img }}" alt="">
            </div>
            <div class="img-footer d-flex justify-content-between">
                <div>
                    <a href="#" class="pree-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </a>
                    <a href="#" class="next-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </div>
                <div class="img-child" *ngFor="let img of product.img">
                    <a (click)="changeIMG(img)"><img src="{{ img }}" alt=""></a>

                </div>
            </div>
        </div>
        <div class="content">
            <h3>{{ product.name }}</h3>
            <div class="d-flex justify-content-between align-items-center">
                <div class="rate d-left font-main-color d-flex justify-content-between align-items-center">
                    <span>{{ product.rate }}</span> <app-star-percen [star]="product.rate"></app-star-percen>
                </div>
                |
                <div class="rate-number d-left">
                    {{ ratings }} <small>Rate</small>
                </div>
                |
                <div class="sold d-left">
                    {{ sold }} <small>Sold</small>
                </div>
                <div class="report d-right">
                    <a href="" class="text-decoration-none">Report</a>
                </div>
            </div>
            <div id="price">
                <div class="d-flex justify-content-between align-items-center">
                    <div id="old-price">
                        {{ product.oldPrice | currency: 'VND' }}
                    </div>
                    <div class="new-price font-main-color">
                        {{ product.newPrice | currency: 'VND' }}
                        <span class="sale background-main-color" *ngIf="saleOff > 0">
                            {{saleOff | number : '1.0-0'}}% OFF
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cash-coin" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                <path
                                    d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                <path
                                    d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <table class="info">
                <tr>
                    <td class="title-info">
                        Shop Vouchers
                    </td>
                    <td>
                        <button class="voucher background-main-color" *ngFor="let voucher of product.voucher"
                            [ngClass]="{'select': voucher.id == saleOffChoice}" (click)="choiceSaleOff(voucher.id)">
                            {{ renderString(voucher.value) }}
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Shipping
                    </td>
                    <td>
                        <img style="width: 20px;"
                            src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/74f3e9ac01da8565c3baead996ed6e2a.png"
                            alt="">
                        Free Shipping
                    </td>
                </tr>
                <tr>
                    <td>
                        Color
                    </td>
                    <td>
                        <button class="btn active btn-outline-primary" [ngClass]="{'active' : color.id == colorChoices}" *ngFor="let color of product.color" (click)="colorChoice(color.id)">{{ color.name }}</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Quantity
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-primary" (click)="minus()">Minus</button>
                            <input style="width: 40px; text-align: center;" type="text" [(ngModel)]="numberProductChoice">
                            <button type="button" class="btn btn-outline-primary" (click)="plus()">Plus</button>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="margin-top: 20px">
                <button type="button" class="btn btn-cart" style="margin-right: 20px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart-plus" viewBox="0 0 16 16">
                        <path
                            d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                        <path
                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                    Add to Card
                </button>
                <button type="button" class="btn btn-buy">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="owner">

    </div>
    <div class="specifications">

    </div>
    <div class="description">
        <h3>Product Description</h3>
        <hr>
        <div class="blockquote" [innerHTML]="product.description">
        </div>

    </div>

</div>