<div *ngFor="let product of products" class="product">
    <a href="/detalt/1" class="text-decoration-none">
        <img src="{{ product.img }}" alt="">
        <div class="card-body">
            <p class="card-text">{{ product.name }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="cart-price">{{ product.price }}$</div>
                <small class="text-muted"> {{ product.sold }} Sold </small>
            </div>
        </div>
    </a>
</div>