.cart-price{
    font-weight:bolder;
    color: blue;
}
.product{
    box-shadow: 0px 0px 2px;
    margin:10px;
    padding: 1px;
    width: 200px;
    height: 300px;
    float: left;
}
.product img {
    width: 100%;
    height: 200px;
}
.product a{
    color: black;
}
.product:hover {
    border: 2px rgb(0, 26, 255) solid;
}
.card-body{
    margin-right: 5px;
    margin-left: 5px;
}
.card-text{
    font-weight: 400;
}