.cart-price{
    font-weight:bolder;
    color: blue;
}
.product{
    box-shadow: 0px 0px 2px;
    margin:10px;
    padding: 1px;
    width: 200px;
    height: 300px;
    float: left;
}
.product img {
    width: 100%;
    height: 200px;
}
.product a{
    color: black;
}
.product:hover {
    padding: 0px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0) 
}
.card-body{
    margin-right: 5px;
    margin-left: 5px;
}
.card-text{
    font-weight: 400;
}
.filter{
    width: 100%;
    height: 60px;

}
.left{
    width: 60%;
}
.right{
    width: 40%;
}
.left, .right{
    height: 100%;
    padding: 10px;  
}
.left button{
    border: none;
    height: 40px;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);

}

/* Dropdown Button */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdowns {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 3px;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0px;
    top: 40px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  .choice{
    color: orangered!important;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(200, 200, 200);}
  
  /* Show the dropdown menu on hover */
  .dropdowns:hover .dropdown-content {display: block;}