<div class="container my-2">
  <table class="table table-bordered table-hover">
    <tbody>
    <tr>
      <td colspan="4">
        <button class="btn btn-primary" (click)="api.createStyle()">Create Style</button>
        <input class="form-control" [(ngModel)]="api.styleType" (change)="api.getStyle()" placeholder="Search Type">
      </td>
    </tr>
    <tr>
      <td>Type</td>
      <td>Images</td>
      <td>Texts</td>
      <td>Delete</td>
    </tr>
    <tr *ngFor="let style of api.styles let i = index">
      <td>
        <input class="form-control" [(ngModel)]="style.type" (change)="api.updateStyle(i)">
      </td>
      <td>
        <app-style-image [images]="style.images" (dataEvent)="api.updateStyle(i)"></app-style-image>
      </td>
      <td>
        <app-style-text [text]="style.text" (dataEvent)="style.text = $event; api.updateStyle(i)"></app-style-text>
      </td>
      <td>
        <button class="btn btn-primary" (click)="api.deleteStyle(i)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


