#header{
    background-color: rgb(229, 228, 236);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}
#body{
    // background-color: rgb(132, 59, 59);
    // margin-top: 150px;
}
#main{
    padding: 10px;
    background-color: white;
    float: right;
    width: 75%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
#nav{
    height: 100%;
    float: left;
    width: 20%;
}
#footer{
    margin-top: 20px;
    width: 100%;
    background-color: rgb(229, 228, 236);
}
#container{
    padding-top: 130px;
    background-color: rgb(255, 255, 255);
}
.clear{
    clear: both;
}
.font-main-color{
    color: rgb(255, 77, 0);
}
.background-main-color{
    background-image: linear-gradient( #ee4d2d, rgb(255, 114, 53));
    color: white;
}
.background-second-color{
    background-color: rgba(0, 0, 0, 0.053);
}
small{
    color: rgba(0, 0, 0, 0.226);
}