/* You can add global styles to this file, and also import other style files */
.boxx{
    box-shadow: 0px 0px 20px black;
    padding: 40px;
    margin: 40px;

}
pre{
    background-color: rgb(222, 222, 163);
    border: solid blue 2px;
}

