<div class="container my-2">
  <table class="table table-bordered table-hover shadow-sm">
    <thead>
    <tr>
      <td colspan="5">
        <div class="row px-2">
          <button class="btn btn-primary col" (click)="api.createMusic()">Create Music</button>
          <div class="col">
            <app-upload-multiple [buttonName]="'Create Music Multiple'" (dataEvent)="api.createMusic($event)"></app-upload-multiple>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>Thumb</th>
      <th>Audio</th>
      <th>Name</th>
      <th>Description</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let music of api.musics let i = index">
      <td>
        <app-upload-cloud-flare [img]="music.thumb"
                                (dataEvent)="music.thumb = $event; api.updateMusic(i)"></app-upload-cloud-flare>
      </td>
      <td>
        <app-upload-cloud-flare [imgWith]="'200px'" [type]="'audio'" [img]="music.url"
                                (dataEvent)="music.url = $event; api.updateMusic(i)"></app-upload-cloud-flare>
      </td>
      <td><input class="form-control" type="text" [(ngModel)]="music.name" (change)="api.updateMusic(i)"></td>
      <td><input class="form-control" type="text" [(ngModel)]="music.description" (change)="api.updateMusic(i)"></td>
      <td>
        <button class="btn btn-danger" (click)="api.deleteMusic(i)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

