<div class="container-fluid">
    <app-header></app-header>
    <div class="row main">
        <app-nav-product class="col-2"></app-nav-product>
        <div class="col-10">
            <table class="table">
                <tr>
                    <td>Picture</td>
                    <td>
                        <input type="file">
                    </td>
                </tr>
                <tr>
                    <td>Video</td>
                    <td>
                        <input type="file">
                    </td>
                </tr>
                <tr>
                    <td>Name Product</td>
                    <td>
                        <input class="form-control" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <select name="" id="">
                            <option value="">None</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                        <textarea class="form-control" rows="4" aria-label="With textarea"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>