<button (click)="widgetSelect.hidden = false; init()">Widget</button>
<div [hidden]="true" #widgetSelect style="position: fixed; height: 100%;top:0;right: 0; width: 100px" class="bg-light">
  <div>
    <input type="text" [(ngModel)]="search" placeholder="Search">
  </div>
  <div class="w-100 h-100 overflow-y-scroll">
    <div *ngFor="let dataWidget of data; let i = index">
      <div *ngIf="dataWidget.widget.name.indexOf(search) != -1">
        <input [(ngModel)]="dataWidget.check" type="checkbox">
        <span>{{dataWidget.widget.name}}</span>
      </div>
    </div>
    <button class="position-absolute bottom-0 start-0" (click)="widgetSelect.hidden = true">Close</button>
    <button class="position-absolute bottom-0 start-50" (click)="widgetSelect.hidden = true; save()">Save</button>
  </div>
</div>

